<div class='search-content home-index container'>
  <%= render 'message/flash' %>
  <% @articles.each do |article| %>
    <h2 class='search-title'><%= link_to sanitize(article.title), article_path(article, anchor: "home") %></h2>
    <div class='search-html'><%= sanitize article.content %></div>
  <% end %>
  <%= render 'page/paginate' %>
</div>
