<div class='search-content'>
  <%= render 'message/flash' %>
  <% @articles.each do |article| %>
    <h2 class='search-title'><%= link_to sanitize(article.title), article %></h2>
    <div class='search-html'><%= sanitize article.content %></div>
  <% end %>
  <%= will_paginate @articles %>
</div>
