<h2>统计信息</h2>
<table class="table table-condensed">
  <th>条目</th>
  <th>数据</th>
  <tr>
    <td>总博客数</td>
    <td><%= @articles %></td>
  </tr>
  <tr>
    <td>总评论数</td>
    <td><%= @comments %></td>
  </tr>
  <tr>
    <td>总喜欢数</td>
    <td><%= @likes %></td>
  </tr>
</table>
