<h1>OUR STORY 关于我们</h1>
<div class='about-info'>
  <p>ABOUT US:</p>
  <p>We are a small voluntary network that connects artists, students and creative people with businesses or neighbourhoods who are seeking to improve the visual impact of their environment, through artistic expression.</p>
  <p>Our aim is to encourage local people to go out and paint, clean, or build something beautiful in an area that can use a little brightening up. We want to create a network of people exploring Shenzhen, creating something beautiful, and sharing it with others.</p>
  <p>We are a respectful and well-mannered organisation with a Code of Conduct.  We believe our art work speaks for us.</p>
  <p>ECS是一个自发的组织，在此提供一个平台，聚集所有的艺术家，普通上班族，学生，或者任何有创意的人一起寻求城市的美丽事物，通过艺术视觉的表达方式来造就我们所理想的居住环境。我们的目标是激励人们走出去，发现，创造与分享这个城市一切美好有意义的事物，让周围变得更有爱。 我们相信，我们的活动作品能够代表我们是一个遵守和有责的组织。</p>
  <p>GOAL: The goal of  Explore. Create. Share. (ECS) is to engage citizens to expose and create beauty in their community for all to enjoy.</p>
  <p>深圳 ECS 的目标是鼓励城市居民发掘身边的美好，同时把城市改造得更美好。</p>
  <p>MISSION STATEMENT: ECSSZ is a voluntary network open to all. We will connect positive and energetic citizens seeking creative ways to enhance Shenzhen’s image, generating a new found pride in their local environment.</p>
  <p>ECS 是一个面向大众的公益组织。我们希望能召集一群有热情有才能的市民，通过各种艺术创意途径来提高深圳乃至其他城市的形象，从而激发当地市民的城市归属感和自豪感。</p>
</div>
