<h1>GET INVOLVED 加入我们</h1>
<div class='about-info'>
  <p>e-mail: ecssz.info@gmail.com</p>
  <p>wechat: ECSgroup</p>
  <p>CODE OF CONDUCT: 行为准则:</p>
  <p>SZECS is a creative project, not a destructive one. Our only goal is to make the city beautiful. If you are considering participating in SZECS then you must follow the Code of Conduct.</p>
  <p>SZECS 所代表的是创意的积极的项目实施，而不是有害和消极的。我们的目标只是美化我们的城市。如果你有意向参与我们的项目，请务必遵守以下的行为准则：</p>
  <p>1. We will not destroy or degrade any public or private property.</p>
  <p>2. All projects will have the full support of the owner of the property, the
  management, or the government.</p>
  <p>3. All projects undertaken under the auspices of SZECS will be first agreed by the founder members – for consistency and to confirm compliance with the Code of Conduct. No work shall begin until this agreement has been achieved.</p>
  <p>4. We will not create anything morally or politically offensive.</p>
  <p>5. Projects must be completed. We want to leave the places better than when we
  found them.</p>
  <p>6. When on site, act with professionalism and respect for local citizens.</p>
  <p>7. SZECS is a non-profit making organisation</p>
  <p>8. Volunteers participate at their own risk and are responsible for equipping themselves safely and appropriately for the task being undertaken. SZECS take no responsibility for providing equipment or the safety and wellbeing of volunteers.</p>
  <p>1. 我们不会损坏或者诋毁任何公共或私人财产；</p>
  <p>2. 所有项目都事先经过财产拥有方，管理处或者政府部门的同意和支持；</p>
  <p>3. 所有 SZECS 举办的项目需先经过创办成员的同意，后者需要审核项目是否符合 ECS 行为准则。未经创办成员同意任何项目不能进行；</p>
  <p>4. 我们不会创作任何有违道德或政治的作品；</p>
  <p>5. 每个项目一旦开始必须完成。我们希望每个我们创作的地方只会比原来更美更好；</p>
  <p>6. 创作期间需恪守专业性，并尊重当地居民；</p>
  <p>7. SZECS 是一个非盈利组织；</p>
  <p>8. 志愿者需自行承担项目创作时可能遇到的风险，我们建议志愿者自行做好相关保护措施。SZECS 没有义务为志愿者提供安全设施或者对志愿者安全负责</p>
  <p>Failure to comply within these guidelines will result in refusal of participation. </p>
  <p>如不能遵守以上准则，我们将会谢绝你的参与。</p>
</div>
