<div>
  <h1>OUR HISTORY 我们的历史</h1>
  <div class='about-info'>
    <p>The history of Shenzhen: Explore. Create. Share. began simply.  We started with a single request to paint manhole covers in the Tian An Cyber Park in Shenzhen. The idea was to add a little fun to everyone’s commute to work. Our work was quickly captured by the media and the word spread fast.  Soon afterwards, a Shenzhen Bicycle Cafe with manhole covers in the restaurant wanted their cafe to be painted too.</p>
    <p>Ashley, one of the co-the founders of ECS, soon realized that there was an opportunity to connect local creative people and artists - with vision, flare and energy for improving their surroundings with businesses or neighbourhoods who wanted to brighten things up in their space in Shenzhen.  Consequently, Shenzhen: Explore. Create. Share. was born.</p>
    <p>ECS（发现，创作，分享）的创立很简单，得于最开始我们在深圳天安数码城的井盖涂鸦项目，从最初一个人的灵感，到组织大家一起作画，很快被周围的路人分享并得到媒体的关注。此后我们第二个项目是受深圳井盖咖啡馆的邀请，创作了其一系列的主题作品。 这种正能量慢慢在扩散，通过之前项目的影响和想法的激发，我们的创始人Ashley，意识到，或许可以创建一个平台，把所有人，不管是专业的艺术家还是想为自己生活环境带来新奇的普通大众，都可以聚集在一起，发现，创作和享受这些对他们生活和自己带来的激情，也一起为我们共同的社区做出贡献，创建更美好的生活愿景。就是这样 ，我们的ECS成立了。</p>
  </div>
</div>
