.article-title{
  margin-top: 60px;
}

#article_title{
  width: 50%;
  margin-top: 26px;
  margin-bottom: 30px;
}

#article_content{
  height: 505px;
  width: 100%;
}

input[type='file']{
  display: none;
}

.markdown-body{
  display: none;
  border: 1px solid #C5C5C5;
  padding: 0px 10px;
  overflow: scroll;
  height: 505px;
  width: 100%;
}

