@import 'variables';
@import "bootstrap-sprockets";
@import "bootstrap";

@import 'admin/posts';
@import 'admin_template';
@import 'article_index';
@import 'articles';
@import 'footer';
@import 'like';
@import 'paginate';
@import 'template';
@import 'w_about';
@import 'w_team';
@import 'w_index';
@import 'w_press';

@import 'jquery.tiles.min';
@import 'nprogress';
@import 'nprogress-bootstrap';

.jiathis_style_24x24 {
  margin-top: 6px;
  a {
    border: none;
  }
}

.jiathis_style {
  a {
    border: none;
  }
}

iframe+.jiathis_style > div {
  width: auto !important;
}

