.all-info{
  border: 1px solid #DDD;
}

.all-info-title{
  text-align: center;
  font-weight: 200;
  padding-bottom: 14px;
  color: #303030;
}

.all-info-time{
  color: #8B8B8B;
  font-size: 14px;
}

.all-info-name{
  a{
    color: #595959;
    text-decoration: none;
    font-size: 22px;
    font-weight: 200;
  }
}

.all-info-article{
  padding: 20px 0 12px 30px;
}
