// index html


// end index


// search html
// end search


// show html
h3 {
  text-align: center;
}

.btn-like{
  text-align: center;
}

.rina-title{
  border-bottom: 1px solid #dddddd;
  padding: .5rem 0;
  text-align: center;
}

.content.markdown {
  padding: 1.2rem 0;
  font-size: 16px;
}

// 评论框
.form-comment{
  width: 40%;
}

.create-comment{
  margin-top: 20px;
}
// end 评论框

// 评论展示
.comment-wrapper {
  padding-top: 10px;
  margin-bottom: 0.5rem;
}

.comment-diag {
  color: #EBEBEB;
  border-top: 1px solid #DDDDDD;
  padding-top: 1rem;
}
.comment-content {
  border-bottom: 1px dashed #DDDDDD;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #000000;
}

.created-at {
  color: #b3b3b3;
}

.comment-wrapper .name {
  color: #302525;
}
// end 评论

// end show
