// index html


// end index


// search html
// end search


// show html
.comments-warp{
  background-color: #EBECEC;
}

.article-content{
  background-color: #FCFCFC;
}

.btn-rounded{
  padding: 6px 17px;
  border-radius: 30px;
  margin-right: 5px;
}

p > img {
  min-width: 800px;
  min-height: 500px;
  width: 800px;
  margin: auto;
}

.btn-like{
  text-align: left;
}

.share-btn{
  float: right;
  margin-top: -30px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.rina-title{
  padding: .5rem 0;
}

.content.markdown {
  padding: 1.2rem 0;
  font-size: 16px;
}

// 评论框
.form-comment{
  width: 40%;
}

.create-comment{
  margin-top: 20px;
}
// end 评论框

// 评论展示
.comment-wrapper {
  padding-top: 10px;
  margin-bottom: 0.5rem;
}

.comment-diag {
  color: #EBEBEB;
  border-top: 1px solid #DDDDDD;
  padding-top: 1rem;
}
.comment-content {
  border-bottom: 1px dashed #DDDDDD;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #000000;
}

.created-at {
  color: #b3b3b3;
}

.comment-wrapper .name {
  color: #302525;
}
// end 评论

// end show
