.search {
  display: inline-block;
}

.container{
  min-height: 600px;
}

.social {
  position: fixed;
  top: 50%;
  width: 55px;
  right: 0;
}

.social .builtin-icons {
}

.search-pic {
  padding-right: 15px;
}

.disktop-nav {
  position: fixed;
}

.disktop-name{
  color: #000;
  font-size: 14px;
}

.disktop-nav li {
  background-color: #E2E2E2;
  opacity: 0.7;
  text-align: center;
  border-top: 15px;
}

.disktop-div {
  padding-bottom: 55px;
}
