.rig-img{
  width: 400px;
  height: 500px;
}

.rig.columns-3{
  padding-left: 0;
  text-align: center;
}

ul.rig.columns-3 li {
  width: 30.83%;
}

ul.rig li.border {
  text-align: center;
  display: inline-block;
  margin-top: 30px;
  font-size: 14px;
}

.box-span{
  float: right;
}

.article-title{
  color: #000;
  font-size: 23px;
}

