.article-wrapper{
  margin-bottom: 50px;
  background-color: #FFF;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #DDD;
}

.index-center img{
  max-width: 625px;
  width: 100%;
  height: 300px;
  margin: auto;
}

.read-all-link {
  text-decoration: none;
  color: #767676;
  &:hover{
    text-decoration: none;
    color: #767676;
  }
}

.index-article-title {
  color: #656464;

}

.index-article-data{
  color: #A9A6A6;
}

.index-article-content{
  color: #A6A6A6;
  padding-top: 10px;
}

.glyphicon-right{
  float: right;
}

.home-title{
  font-size: 18px;
}

.index-read-all{
  border-top: 1px solid #DDD;
  padding: 10px;
}
