.press-info {
  padding-top: 10px;
  padding-bottom: 20px;

  a {
    color: #7E7E7E;
    text-decoration: none;
  }

  p {
    padding-top: 10px;
    line-height: 1.6;
    font-size: 18px;
    color: #7E7E7E;
  }
}


