.team-info {
  padding-top: 10px;
  padding-bottom: 20px;

  img {
    max-width: 300px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  p {
    padding-top: 10px;
    line-height: 1.6;
    font-size: 18px;
    color: #7E7E7E;
  }
}
