<div class='container home-container home-background-img'>
  <div class='intro-heading'>
    <div class='row'>
      <div class='small-12 columns'>
        <h1 class='logo'>EXPLORE CREATE SHARE</h1>
        <a class='circle' href='#home'>
          <span class='glyphicon glyphicon-menu-down' aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
</div>
