<div class='page-footer'>
  <div>
    <span class='link'>发现.创造.分享</span>
    <span class='time'>© E.C.S.2014 - 2015</span>
  </div>
  <div class='license'>
    <span>
      <a href='http://liuzhen.me' target='_blank'>BUILT BY LIUZHEN</a>
    </span>
  </div>
</div>
