<div class='page-footer'>
  <div>
    <span class='link'>liuzhen.me</span>
    <span class='time'>© 2015 - 2015</span>
  </div>
  <div class='license'>
    <span>
      <a href='http://liuzhen.me' target='_blank'>Rina's Blog</a>
    </span>
  </div>
</div>
